@CHARSET "UTF-8";
.main{
    margin-top:100px;
    width:1200px;
    margin-left: auto;
    margin-right: auto;
}
.ft-fml{
    font-family: 微软雅黑;
}
.login-form{
    width:300px;
    margin-left: auto;
    margin-right: auto;
}
.form-title{
    text-align: center;
    font-size: 28px;
}
/**add by wcy for projects-main**/
.title-name{
    font-size:26px;
    font-family: 微软雅黑;
    padding-left: 30px;
}
.title-people{
    font-size:16px;
    font-family: 微软雅黑;
    padding-left: 30px;
    margin-top: 5px;
}
.dash-title{
    font-size:24px;
    font-family: 微软雅黑;
}
.layout-m1{
    border-top: solid 1px darkgray;
    padding-top: 10px;
    padding-bottom: 10px;
}
.p-risk-dis{
    margin-top: 8px;
    margin-bottom: 8px;
}
.risk-detail{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.layout-m2{
    padding-top: 10px;
    padding-bottom: 10px;
}
.risk-detail-title{
    font-size:20px;
    margin-bottom: 5px;
}
.rd-content{
    font-size:16px;
    font-family: 微软雅黑;
    padding-left: 10px;
    line-height: 30px;
}
.font-weight-b{
    font-weight: bold;
}