@CHARSET "UTF-8";
.main{
    margin-top:100px;
    width:1200px;
    margin-left: auto;
    margin-right: auto;
}
.login-form{
    width:300px;
    margin-left: auto;
    margin-right: auto;
}
.form-title{
    text-align: center;
    font-size: 28px;
}